<footer>
    <div class="f-info">
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <span>·</span>
            <a href="#">Terms</a>
            <span>·</span>
            <a href="#">Sitemap</a>
            <span>·</span>
            <a href="#">Company details</a>
        </div>

        <div class="f-info-brand">
            &copy; 2025 CozyCorner, Inc. All rights reserved.
        </div>

        <div class="f-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
    </div>
</footer>